extends head
block content
    // bar
    .barSvg
        #canvasBarChart
        #wappingLongLabels
        #barChartIIIa
        #barChartIIIb
        #barChartIIIc
        #barChartIIb
        #barChartIIc
        #updateOverAnimate
            .bar-operate(hidden="hidden")
                button(id="bar-update") 单击更新
                button(id="bar-add") 单击添加
                button(id="bar-delete") 单击删除

    script(src='/view/js/lineBar/bar.js')

