extends head
block content
    // bar
    .barSvg
        #canvasBarChart
        #wappingLongLabels
        #barChartIIIa
        #barChartIIIb
        #barChartIIIc
        #barChartIIb
        #barChartIIc
    script(src='/view/js/lineBar/bar.js')

