doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    //meta(name='viewport' content=width='device-width', initial-scale=1)
    meta(name='viewport')
    title= title
    link(rel='stylesheet', href='/lib/plugin/bootstrap-3.3.0/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/plugin/jQuery/jQuery-2.2.0.min.js')
    script(src='/lib/plugin/bootstrap-3.3.0/dist/js/bootstrap.js')

    //-d3-3.5.17
    //script(src='/lib/plugin/d3/d3.v3.js')
    //-d3-4.2.2
    //script(src='/lib/plugin/d3/d3-4.0/d3.js')



    //-官网d3-v4
    //script(src="https://d3js.org/d3.v4.js")
    //script(src="/lib/plugin/d3/download/d3-4/d3.v4.js")
    //script(src="https://d3js.org/d3.v4.0.0-alpha.9.min.js")
    //script(src="/lib/plugin/d3/download/d3-4/d3.v4.0.0-alpha.9.min.js")
    //script(src='/lib/plugin/d3/download/d3-4/d3.v4.0.0-alpha.4.js')
    //script(src='/lib/plugin/d3/download/d3-4/d3.v4.0.0-alpha.29.js')

    //-官网d3-v3
    //script(src="https://d3js.org/d3.v3.js")
    script(src="/lib/plugin/d3/download/d3-3/d3.v3.js")


    body
        .bs-example
                nav(class="navbar navbar-inverse" role="navigation")
                    .container-fluid
                        div(class="collapse navbar-collapse")
                           ul(class="nav navbar-nav")
                               li(class="dropdown bar")
                                    a(href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false") bar
                                      span(class="caret")
                                    ul(class="dropdown-menu" role="menu")
                                        li
                                            a(href="/" id="href-wappingLongLabels") wappingLongLabels
                                        //li
                                        //    a(href="#" id="href-canvasBarChart") canvasBarChart
                                        li
                                            a(href="#" id="href-barChartIIIa") barChartIIIa
                                        li
                                            a(href="#" id="href-barChartIIIb") barChartIIIb
                                        li
                                            a(href="#" id="href-barChartIIIc") barChartIIIc
                                        li
                                            a(href="#" id="href-barChartIIb") barChartIIb
                                        li
                                            a(href="#" id="href-barChartIIc") barChartIIc
                                        li
                                            a(href="#" id="href-updateOverAnimate") 更新、过度和动画
                                        li
                                            a(href="#" id="href-keyBindToData") 键联结数据



                               li(class="line dropdown")
                                   a(href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false") line
                                       span(class="caret")
                                   ul(class="dropdown-menu" role="menu")
                                       li
                                           a(href="/line/sankeyInterpolation" id="href-sankeyInterpolation") sankeyInterpolation
                                       li
                                           a(href="/line/naturalLogScale" id="href-naturalLogScale") naturalLogScale
                                       //li
                                       //    a(href="/line/inlineLabels" id="href-inlineLabels") inlineLabels
                                       //li
                                       //    a(href="/line/lineWithMissingData" id="href-lineWithMissingData") lineWithMissingData
                                       //li
                                       //    a(href="/line/rainbowPerceptualDistance" id="href-rainbowPerceptualDistance") rainbowPerceptualDistance
                                       li
                                           a(href="/line/monotoneInterpolation" id="href-monotoneInterpolation") monotoneInterpolation

                               li(class="pie dropdown")
                                   a(href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false") pie
                                        span(class="caret")
                                   ul(class="dropdown-menu" role="menu")
                                       li
                                           a(href="/pie" id="href-pie") pie
                                       li
                                           a(href="#" id="href-pieCircle") 饼图圆环图
                               li(class="force dropdown")
                                   a(href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false") force
                                       span(class="caret")
                                   ul(class="dropdown-menu" role="menu")
                                       li
                                           a(href="/force" id="href-force") 力导向图
        script(src='/view/js/head.js')
    block content