extends head
block content
      // bar
      .barSvg
          #canvasBarChart
          #wappingLongLabels
          #barChartIIIa
          #barChartIIIb
          #barChartIIIc
          #barChartIIb
          #barChartIIc
      // line
      .lineSvg
          #sankeyInterpolation
          #naturalLogScale
          #inlineLabels
          #lineWithMissingData
          #rainbowPerceptualDistance
          #monotoneInterpolation
      // pie
      .pieSvg
          #extendingArcs
      script(src='/view/js/lineBar/bar.js')

