extends layout
block content

  body
      #LineDemo
      //
          -for (var x = 0; x < 3; x++)
            li item
            p Welcome to #{title}
            h1= title
      //-注释
      //
          块级注释
          ul
          fasf
          script.
                console.log(00)

