doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content=width='device-width', initial-scale=1)
    title= title
    link(rel='stylesheet', href='/lib/plugin/bootstrap-3.3.0/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/plugin/jQuery/jQuery-2.2.0.min.js')
    script(src='/lib/plugin/bootstrap-3.3.0/dist/js/bootstrap.js')

    //-d3-3.5.17
    //-script(src='/lib/plugin/d3/d3.v3.js')
    //-d3-4.2.2
    // script(src='/lib/plugin/d3/d3-4.0/d3.js')

    //-官网d3-v4
    //-script(src="https://d3js.org/d3.v4.js")
    //-script(src="https://d3js.org/d3.v4.0.0-alpha.9.min.js")
    //-官网d3-v3
    script(src="https://d3js.org/d3.v3.js")

    //-script(src='/view/js/index.js')
    //-script(src='/view/js/lineBar/bar.js')
    //-script(src='/view/js/lineBar/line.js')
    script(src='/view/js/pie/pie.js')
  body
    block content
