doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/plugin/jQuery/jQuery-2.2.0.min.js')
    script(src='/lib/plugin/d3/d3.v4.js')
    //-script(src='/lib/plugin/d3/d3.v3.min.js')
    script(src='/view/js/index.js')
  body
    block content
