doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/plugin/jQuery/jQuery-2.2.0.min.js')

    //-d3-3.5.17
    //-script(src='/lib/plugin/d3/d3.v3.js')
    //-d3-4.2.2
    script(src='/lib/plugin/d3/d3-4.0/d3.js')

    //-官网d3-v4
    //-script(src='src="https://d3js.org/d3.v4.js"')
    //-官网d3-v3
    //-script(src="https://d3js.org/d3.v3.js")

    //-script(src='/view/js/index.js')
    script(src='/view/js/lineBar/canvasBar.js')
  body
    block content
