extends head
block content
      // line
      .lineSvg
          #sankeyInterpolation
          #naturalLogScale
          #inlineLabels
          #lineWithMissingData
          #rainbowPerceptualDistance
          #monotoneInterpolation
      // pie
      .pieSvg
          #extendingArcs
      script(src='/view/js/lineBar/line.js')

