extends head
block content
      .lineSvg
          #sankeyInterpolation
          #naturalLogScale
          #inlineLabels
          #lineWithMissingData
          #rainbowPerceptualDistance
          #monotoneInterpolation
      // pie
      .pieSvg
          #extendingArcs
      script(src='/view/js/pie/pie.js')

